@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");

header li {
  margin: 0 px 40 px;
  width: 15%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

header ul {
  display: flex;
  padding: 10px;
  font-size: 18px;
  font-weight: 200;
  justify-content: center;
  list-style-type: none;
  border-bottom: 0.1rem solid white;
  position: fixed;
  top: 0%;
  background: cadetblue;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}
header ul a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
ul {
  margin: 0;
}
header {
  text-align: center;
  color: white;
  background-color: grey;
}
header h1 {
  padding: 40px;
  font-size: 100px;
}

#cart {
  position: fixed;
  height: 95%;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid pink;
  min-height: 50vh;
}

.cart-holder {
  border: 2px solid #56ccf2;
  border-radius: 7px;
  padding: 2px 10px;
  position: absolute;
  right: 2%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 30px;
}
.cancel {
  position: absolute;
  cursor: pointer;
  color: rgb(121, 117, 117);
  top: 0;
  right: 0;
  margin: 20px;
  background: none;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid rgb(121, 117, 117);
  border-radius: 7px;
  padding: 5px;
}
section {
  display: block;
}
section h2 {
  font-family: "Metal Mania";
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
#products-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#product-content div {
  margin: 30px;
}
#product-content div h3 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #333;
  margin-bottom: 15px;
}

.image-container {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  height: 25%;
  width: 25%;
  overflow: hidden;
}
img {
  transform-origin: center center;
  object-fit: cover;
  height: 25%;
  width: 25%;
}
.onclick {
  width: 20%;
  background: cadetblue;

  color: white;
  border: none;
  padding: 7px;
  border-radius: 5px;
  font-weight: 700;
}
.shop-images:hover {
  transform: scale(1.5);
  filter: brightness(130%);
}
#product-content .shop-details {
  display: flex;
  margin: 8px;
  align-items: center;
  justify-content: space-between;
}
.shop-item-price {
  flex-grow: 1;
  color: #333;
}
/* #product-content .shop-item-button {
  cursor: pointer;
  padding: 8px;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4%;
  background: cadetblue;
} */
.shop-item-button {
  cursor: pointer;
  padding: 8px;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4%;
  background: cadetblue;
}
.shop-item-button:hover {
  background: rgb(20, 102, 243);
}
#merch-content .shop-item-button:hover {
  background: rgb(20, 102, 243);
}
.shop-images {
  transform-origin: center center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  transition: ease-in 0.5s;
  filter: brightness(100%);
}
#merch-content div {
  margin: 30px;
}

#merch-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#merch-content div h3 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.image-container {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  height: 250px;
  width: 250px;
  overflow: hidden;
}
.product-images {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  height: 250px;
  width: 250px;
  overflow: hidden;
}
.card__image img {
  width: 25%;
}
img {
  transform-origin: center center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#merch-content .shop-details {
  display: flex;
  margin: 8px;
  align-items: center;
  justify-content: space-between;
}
.shop-item-price {
  flex-grow: 1;
  color: #333;
}
#merch-content .shop-item-button {
  cursor: pointer;
  padding: 8px;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4%;
  background: cadetblue;
}
.cart-row {
  font-size: 18px;
  display: flex;
}
.cart-header {
  font-size: 1.2rem;
  font-weight: bold;
}
.cart-item {
  width: 45%;
}
.cart-img {
  width: 80px;
  border-radius: 8%;
  margin-right: 20px;
}
.cart-item-image {
  width: 80px;
  border-radius: 8%;
  margin-right: 20px;
}
.cart-price {
  width: 20%;
}
.cart-quantity {
  width: 35%;
}
.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}
.cart-quantity input {
  width: 40px;
  height: 30px;
  border: 1px solid rgb(0, 204, 255);
  border-radius: 8%;
  outline: none;
  text-align: center;
  margin-right: 20px;
}
.cart-quantity button {
  color: white;
  font-weight: bold;
  background: rgb(231, 76, 76);
  cursor: pointer;
  border: none;
  border-radius: 8%;
  height: 30px;
  outline: none;
  padding: 0px 7px;
}
.cart-quantity button:hover {
  background: rgb(218, 37, 37);
}

.cart-total {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.2rem;
  margin: 20px;
}
.cart-total .total-title {
  margin-right: 10px;
  font-size: 1.5rem;
}
.btn-danger {
  color: white;
  background-color: cadetblue;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
  border: none;
}

.btn-danger:hover {
  background-color: rgb(63, 63, 239);
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}
.cart-btn-bottom {
  display: flex;
  padding: 15px;
  background: #56ccf2;
  border: none;
  border-radius: 7px;
  font-size: 1.2rem;
  margin: auto;
  cursor: pointer;
  color: white;
}
.cart-btn-bottom:hover {
  background-color: rgb(216, 216, 231);
}
.purchase-btn,
.cart-btn-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  background: #56ccf2;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 8%;
  padding: 12px;
  cursor: pointer;
}
.purchase-btn:hover {
  background-color: rgb(7, 7, 251);
}
.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}
h2 {
  display: block;
  font-weight: bold;
}
footer {
  display: flex;
  margin-top: 40px;
  padding: 20px;
  background: #56ccf2;
}
footer .footer-title {
  text-align: center;
  color: white;
  width: 50%;
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto;
}
footer .footer-icons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-icons ul {
  list-style-type: none;
  display: flex;
}
.footer-icons li {
  padding: 10px;
  margin: 0px 20px;
}
.footer-icons li:hover {
  background: rgb(17, 206, 206);
}
.footer-icons img {
  width: 30px;
}

div {
  display: block;
}

#container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.notification {
  background-color: cadetblue;
  border-radius: 5px;
  color: black;
  padding: 2rem;
  margin: 1rem;
}
.notification h4 span {
  color: red;
}

.pagination {
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

#productscurrentPage,
#cartcurrentPage {
  padding: 10px;
  background-color: cadetblue;
  border: white;
}
